{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'intranet/base/head.html' %}
</head>
<body>
    <div class="sidebar-overlay" id="sidebarOverlay"></div>

    {% include 'intranet/includes/sidebar.html' %}

    <div class="main-content">
        {% include 'intranet/includes/navbar.html' %}

        <main class="px-3 px-md-4 pb-5 flex-grow-1 mt-3">
            {% block content %}{% endblock %}
        </main>

        {% include 'intranet/base/footer.html' %}
    </div>

    {% include 'intranet/base/scripts.html' %}
</body>
</html>